In [106]:
import pandas as pd
import numpy as np
import pylab
%pylab
names = pd.read_csv('C:/Users/Janfer/Desktop/pydata-book-master/ch02/names/yob1880.txt', names=['name', 'sex', 'births'])
names.groupby('sex').births.sum()
names['sex'].value_counts()

years = range(1880, 2011)
pieces = []
cloumns = ['name', 'sex', 'births']
for year in years:
    path = 'C:/Users/Janfer/Desktop/pydata-book-master/ch02/names/yob%d.txt' % year
    frame = pd.read_csv(path, names=cloumns)
    frame['year'] = year
    pieces.append(frame)
names = pd.concat(pieces, ignore_index=True)
names

Using matplotlib backend: TkAgg
Populating the interactive namespace from numpy and matplotlib

c:\users\janfer\appdata\local\programs\python\python36\lib\site-packages\IPython\core\magics\pylab.py:160: UserWarning: pylab import has clobbered these variables: ['pylab']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

              name sex  births  year
0             Mary   F    7065  1880
1             Anna   F    2604  1880
2             Emma   F    2003  1880
3        Elizabeth   F    1939  1880
4           Minnie   F    1746  1880
5         Margaret   F    1578  1880
6              Ida   F    1472  1880
7            Alice   F    1414  1880
8           Bertha   F    1320  1880
9            Sarah   F    1288  1880
10           Annie   F    1258  1880
11           Clara   F    1226  1880
12            Ella   F    1156  1880
13        Florence   F    1063  1880
14            Cora   F    1045  1880
15          Martha   F    1040  1880
16           Laura   F    1012  1880
17          Nellie   F     995  1880
18           Grace   F     982  1880
19          Carrie   F     949  1880
20           Maude   F     858  1880
21           Mabel   F     808  1880
22          Bessie   F     794  1880
23          Jennie   F     793  1880
24        Gertrude   F     787  1880
25           Julia   F     783  1880
26          Hattie   F     769  1880
27           Edith   F     768  1880
28          Mattie   F     704  1880
29            Rose   F     700  1880
...            ...  ..     ...   ...
1690754    Zaviyon   M       5  2010
1690755   Zaybrien   M       5  2010
1690756   Zayshawn   M       5  2010
1690757     Zayyan   M       5  2010
1690758       Zeal   M       5  2010
1690759     Zealan   M       5  2010
1690760   Zecharia   M       5  2010
1690761   Zeferino   M       5  2010
1690762   Zekariah   M       5  2010
1690763       Zeki   M       5  2010
1690764     Zeriah   M       5  2010
1690765     Zeshan   M       5  2010
1690766     Zhyier   M       5  2010
1690767   Zildjian   M       5  2010
1690768       Zinn   M       5  2010
1690769     Zishan   M       5  2010
1690770      Ziven   M       5  2010
1690771      Zmari   M       5  2010
1690772      Zoren   M       5  2010
1690773     Zuhaib   M       5  2010
1690774     Zyeire   M       5  2010
1690775    Zygmunt   M       5  2010
1690776   Zykerion   M       5  2010
1690777      Zylar   M       5  2010
1690778      Zylin   M       5  2010
1690779    Zymaire   M       5  2010
1690780     Zyonne   M       5  2010
1690781  Zyquarius   M       5  2010
1690782      Zyran   M       5  2010
1690783      Zzyzx   M       5  2010

[1690784 rows x 4 columns]

In [69]:
names.groupby('sex').births.sum()

sex
F    159990140
M    162412587
Name: births, dtype: int64

In [70]:
names['sex'].value_counts()

F    1003985
M     686799
Name: sex, dtype: int64

In [71]:
total_births = names.pivot_table('births','year','sex',sum)

In [75]:
total_births.tail()

sex         F        M
year
2006  1896468  2050234
2007  1916888  2069242
2008  1883645  2032310
2009  1827643  1973359
2010  1759010  1898382

In [88]:
def add_prop(group):
    births = group.births.astype(float)
    group['prop'] = (births / births.sum())
    return group
names = names.groupby(['year','sex']).apply(add_prop)
names

              name sex  births  year      prop
0             Mary   F    7065  1880  0.077643
1             Anna   F    2604  1880  0.028618
2             Emma   F    2003  1880  0.022013
3        Elizabeth   F    1939  1880  0.021309
4           Minnie   F    1746  1880  0.019188
5         Margaret   F    1578  1880  0.017342
6              Ida   F    1472  1880  0.016177
7            Alice   F    1414  1880  0.015540
8           Bertha   F    1320  1880  0.014507
9            Sarah   F    1288  1880  0.014155
10           Annie   F    1258  1880  0.013825
11           Clara   F    1226  1880  0.013474
12            Ella   F    1156  1880  0.012704
13        Florence   F    1063  1880  0.011682
14            Cora   F    1045  1880  0.011484
15          Martha   F    1040  1880  0.011429
16           Laura   F    1012  1880  0.011122
17          Nellie   F     995  1880  0.010935
18           Grace   F     982  1880  0.010792
19          Carrie   F     949  1880  0.010429
20           Maude   F     858  1880  0.009429
21           Mabel   F     808  1880  0.008880
22          Bessie   F     794  1880  0.008726
23          Jennie   F     793  1880  0.008715
24        Gertrude   F     787  1880  0.008649
25           Julia   F     783  1880  0.008605
26          Hattie   F     769  1880  0.008451
27           Edith   F     768  1880  0.008440
28          Mattie   F     704  1880  0.007737
29            Rose   F     700  1880  0.007693
...            ...  ..     ...   ...       ...
1690754    Zaviyon   M       5  2010  0.000003
1690755   Zaybrien   M       5  2010  0.000003
1690756   Zayshawn   M       5  2010  0.000003
1690757     Zayyan   M       5  2010  0.000003
1690758       Zeal   M       5  2010  0.000003
1690759     Zealan   M       5  2010  0.000003
1690760   Zecharia   M       5  2010  0.000003
1690761   Zeferino   M       5  2010  0.000003
1690762   Zekariah   M       5  2010  0.000003
1690763       Zeki   M       5  2010  0.000003
1690764     Zeriah   M       5  2010  0.000003
1690765     Zeshan   M       5  2010  0.000003
1690766     Zhyier   M       5  2010  0.000003
1690767   Zildjian   M       5  2010  0.000003
1690768       Zinn   M       5  2010  0.000003
1690769     Zishan   M       5  2010  0.000003
1690770      Ziven   M       5  2010  0.000003
1690771      Zmari   M       5  2010  0.000003
1690772      Zoren   M       5  2010  0.000003
1690773     Zuhaib   M       5  2010  0.000003
1690774     Zyeire   M       5  2010  0.000003
1690775    Zygmunt   M       5  2010  0.000003
1690776   Zykerion   M       5  2010  0.000003
1690777      Zylar   M       5  2010  0.000003
1690778      Zylin   M       5  2010  0.000003
1690779    Zymaire   M       5  2010  0.000003
1690780     Zyonne   M       5  2010  0.000003
1690781  Zyquarius   M       5  2010  0.000003
1690782      Zyran   M       5  2010  0.000003
1690783      Zzyzx   M       5  2010  0.000003

[1690784 rows x 5 columns]

In [89]:
names.tail()

              name sex  births  year      prop
1690779    Zymaire   M       5  2010  0.000003
1690780     Zyonne   M       5  2010  0.000003
1690781  Zyquarius   M       5  2010  0.000003
1690782      Zyran   M       5  2010  0.000003
1690783      Zzyzx   M       5  2010  0.000003

In [90]:
np.allclose(names.groupby(['year','sex']).prop.sum(), 1)

True

In [91]:
grouped = names.groupby(['year','sex'])

In [92]:
grouped

In [94]:
def get_top1000(group):
    return group.sort_index(by='births', ascending=False)[:1000]

top1000 = grouped.apply(get_top1000)

c:\users\janfer\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)

In [95]:
top1000

                  births       name      prop
year sex
1880 F   0          7065       Mary  0.077643
         1          2604       Anna  0.028618
         2          2003       Emma  0.022013
         3          1939  Elizabeth  0.021309
         4          1746     Minnie  0.019188
         5          1578   Margaret  0.017342
         6          1472        Ida  0.016177
         7          1414      Alice  0.015540
         8          1320     Bertha  0.014507
         9          1288      Sarah  0.014155
         10         1258      Annie  0.013825
         11         1226      Clara  0.013474
         12         1156       Ella  0.012704
         13         1063   Florence  0.011682
         14         1045       Cora  0.011484
         15         1040     Martha  0.011429
         16         1012      Laura  0.011122
         17          995     Nellie  0.010935
         18          982      Grace  0.010792
         19          949     Carrie  0.010429
         20          858      Maude  0.009429
         21          808      Mabel  0.008880
         22          794     Bessie  0.008726
         23          793     Jennie  0.008715
         24          787   Gertrude  0.008649
         25          783      Julia  0.008605
         26          769     Hattie  0.008451
         27          768      Edith  0.008440
         28          704     Mattie  0.007737
         29          700       Rose  0.007693
...                  ...        ...       ...
2010 M   1677617     201       Yair  0.000106
         1677616     201      Talan  0.000106
         1677614     201      Keyon  0.000106
         1677613     201       Kael  0.000106
         1677618     200   Demarion  0.000105
         1677619     200     Gibson  0.000105
         1677620     200     Reagan  0.000105
         1677621     199  Cristofer  0.000105
         1677622     199     Daylen  0.000105
         1677623     199     Jordon  0.000105
         1677624     198    Dashawn  0.000104
         1677625     198      Masen  0.000104
         1677629     197      Rowen  0.000104
         1677631     197     Yousef  0.000104
         1677630     197   Thaddeus  0.000104
         1677628     197      Kadin  0.000104
         1677627     197     Dillan  0.000104
         1677626     197   Clarence  0.000104
         1677634     196      Slade  0.000103
         1677632     196    Clinton  0.000103
         1677633     196    Sheldon  0.000103
         1677636     195    Keshawn  0.000103
         1677637     195   Menachem  0.000103
         1677635     195     Joziah  0.000103
         1677638     194     Bailey  0.000102
         1677639     194     Camilo  0.000102
         1677640     194     Destin  0.000102
         1677641     194     Jaquan  0.000102
         1677642     194     Jaydan  0.000102
         1677645     193     Maxton  0.000102

[261877 rows x 3 columns]

In [99]:
total_births = top1000.pivot_table('births', 'year', 'name', sum)

In [100]:
total_births

name,Aaden,Aaliyah,Aarav,Aaron,Aarush,Ab,Abagail,Abb,Abbey,Abbie,...,Zoa,Zoe,Zoey,Zoie,Zola,Zollie,Zona,Zora,Zula,Zuri
year,,,,,,,,,,,,,,,,,,,,,
1880,NaN,NaN,NaN,102.0,NaN,NaN,NaN,NaN,NaN,71.0,...,8.0,23.0,NaN,NaN,7.0,NaN,8.0,28.0,27.0,NaN
1881,NaN,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,81.0,...,NaN,22.0,NaN,NaN,10.0,NaN,9.0,21.0,27.0,NaN
1882,NaN,NaN,NaN,85.0,NaN,NaN,NaN,NaN,NaN,80.0,...,8.0,25.0,NaN,NaN,9.0,NaN,17.0,32.0,21.0,NaN
1883,NaN,NaN,NaN,105.0,NaN,NaN,NaN,NaN,NaN,79.0,...,NaN,23.0,NaN,NaN,10.0,NaN,11.0,35.0,25.0,NaN
1884,NaN,NaN,NaN,97.0,NaN,NaN,NaN,NaN,NaN,98.0,...,13.0,31.0,NaN,NaN,14.0,6.0,8.0,58.0,27.0,NaN
1885,NaN,NaN,NaN,88.0,NaN,6.0,NaN,NaN,NaN,88.0,...,6.0,27.0,NaN,NaN,12.0,6.0,14.0,48.0,38.0,NaN
1886,NaN,NaN,NaN,86.0,NaN,NaN,NaN,NaN,NaN,84.0,...,13.0,25.0,NaN,NaN,8.0,NaN,20.0,52.0,43.0,NaN
1887,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,104.0,...,9.0,34.0,NaN,NaN,23.0,NaN,28.0,46.0,33.0,NaN
1888,NaN,NaN,NaN,90.0,NaN,NaN,NaN,NaN,NaN,137.0,...,11.0,42.0,NaN,NaN,23.0,7.0,30.0,42.0,45.0,NaN
1889,NaN,NaN,NaN,85.0,NaN,NaN,NaN,NaN,NaN,107.0,...,14.0,29.0,NaN,NaN,22.0,NaN,29.0,53.0,55.0,NaN
1890,NaN,NaN,NaN,96.0,NaN,NaN,NaN,6.0,NaN,140.0,...,NaN,42.0,NaN,NaN,32.0,7.0,27.0,60.0,65.0,NaN
1891,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN,NaN,124.0,...,NaN,34.0,NaN,NaN,29.0,6.0,14.0,52.0,45.0,NaN
1892,NaN,NaN,NaN,95.0,NaN,NaN,NaN,NaN,NaN,119.0,...,NaN,34.0,NaN,NaN,27.0,NaN,25.0,66.0,53.0,NaN
1893,NaN,NaN,NaN,81.0,NaN,NaN,NaN,NaN,NaN,115.0,...,NaN,23.0,NaN,NaN,34.0,6.0,15.0,67.0,70.0,NaN
1894,NaN,NaN,NaN,79.0,NaN,NaN,NaN,NaN,NaN,118.0,...,NaN,28.0,NaN,NaN,51.0,NaN,23.0,66.0,64.0,NaN
1895,NaN,NaN,NaN,94.0,NaN,NaN,NaN,NaN,NaN,92.0,...,NaN,34.0,NaN,NaN,60.0,11.0,38.0,55.0,55.0,NaN
1896,NaN,NaN,NaN,69.0,NaN,NaN,NaN,NaN,NaN,121.0,...,NaN,36.0,NaN,NaN,47.0,NaN,38.0,72.0,65.0,NaN
1897,NaN,NaN,NaN,87.0,NaN,NaN,NaN,NaN,NaN,97.0,...,NaN,35.0,NaN,NaN,51.0,NaN,28.0,67.0,79.0,NaN
1898,NaN,NaN,NaN,89.0,NaN,NaN,NaN,NaN,NaN,120.0,...,NaN,30.0,NaN,NaN,62.0,NaN,28.0,65.0,83.0,NaN
1899,NaN,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,87.0,...,NaN,27.0,NaN,NaN,49.0,6.0,31.0,56.0,60.0,NaN
1900,NaN,NaN,NaN,104.0,NaN,NaN,NaN,NaN,NaN,112.0,...,NaN,26.0,NaN,NaN,48.0,9.0,44.0,99.0,71.0,NaN
1901,NaN,NaN,NaN,80.0,NaN,NaN,NaN,NaN,NaN,87.0,...,NaN,26.0,NaN,NaN,56.0,NaN,31.0,58.0,57.0,NaN
1902,NaN,NaN,NaN,78.0,NaN,NaN,NaN,NaN,NaN,91.0,...,NaN,34.0,NaN,NaN,58.0,NaN,23.0,58.0,66.0,NaN
1903,NaN,NaN,NaN,93.0,NaN,NaN,NaN,NaN,NaN,91.0,...,NaN,19.0,NaN,NaN,64.0,NaN,41.0,83.0,74.0,NaN
1904,NaN,NaN,NaN,117.0,NaN,NaN,NaN,NaN,NaN,80.0,...,NaN,27.0,NaN,NaN,46.0,NaN,35.0,54.0,74.0,NaN
1905,NaN,NaN,NaN,96.0,NaN,NaN,NaN,NaN,NaN,73.0,...,NaN,24.0,NaN,NaN,66.0,8.0,24.0,55.0,61.0,NaN
1906,NaN,NaN,NaN,96.0,NaN,NaN,NaN,NaN,NaN,72.0,...,NaN,19.0,NaN,NaN,59.0,NaN,37.0,64.0,58.0,NaN
1907,NaN,NaN,NaN,130.0,NaN,NaN,NaN,NaN,NaN,79.0,...,NaN,19.0,NaN,NaN,53.0,11.0,39.0,92.0,72.0,NaN
1908,NaN,NaN,NaN,114.0,NaN,NaN,NaN,NaN,NaN,84.0,...,NaN,23.0,NaN,NaN,70.0,NaN,31.0,59.0,53.0,NaN
1909,NaN,NaN,NaN,142.0,NaN,NaN,NaN,NaN,NaN,57.0,...,NaN,22.0,NaN,NaN,59.0,NaN,39.0,57.0,76.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981,NaN,NaN,NaN,14832.0,NaN,NaN,NaN,NaN,383.0,292.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,NaN,NaN,NaN,14538.0,NaN,NaN,NaN,NaN,372.0,275.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,NaN,NaN,NaN,14627.0,NaN,NaN,NaN,NaN,419.0,223.0,...,NaN,174.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,13387.0,NaN,NaN,NaN,NaN,357.0,249.0,...,NaN,200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,NaN,NaN,13123.0,NaN,NaN,NaN,NaN,314.0,233.0,...,NaN,193.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1986,NaN,NaN,NaN,12685.0,NaN,NaN,NaN,NaN,369.0,228.0,...,NaN,213.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987,NaN,NaN,NaN,12676.0,NaN,NaN,NaN,NaN,327.0,228.0,...,NaN,248.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1988,NaN,NaN,NaN,14393.0,NaN,NaN,NaN,NaN,404.0,226.0,...,NaN,238.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1989,NaN,NaN,NaN,15312.0,NaN,NaN,NaN,NaN,470.0,265.0,...,NaN,376.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1990,NaN,NaN,NaN,14545.0,NaN,NaN,NaN,NaN,507.0,311.0,...,NaN,478.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,NaN,NaN,NaN,14240.0,NaN,NaN,NaN,NaN,451.0,278.0,...,NaN,722.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,14494.0,NaN,NaN,NaN,NaN,430.0,260.0,...,NaN,978.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,13819.0,NaN,NaN,NaN,NaN,503.0,291.0,...,NaN,1194.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,1451.0,NaN,14379.0,NaN,NaN,NaN,NaN,597.0,351.0,...,NaN,1332.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,1254.0,NaN,13277.0,NaN,NaN,NaN,NaN,549.0,351.0,...,NaN,1726.0,219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1996,NaN,831.0,NaN,11956.0,NaN,NaN,NaN,NaN,552.0,349.0,...,NaN,2063.0,339.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,1737.0,NaN,11156.0,NaN,NaN,NaN,NaN,645.0,386.0,...,NaN,2363.0,407.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,1399.0,NaN,10539.0,NaN,NaN,NaN,NaN,661.0,398.0,...,NaN,2690.0,478.0,225.0,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,1088.0,NaN,9846.0,NaN,NaN,211.0,NaN,710.0,430.0,...,NaN,3238.0,561.0,257.0,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,1494.0,NaN,9548.0,NaN,NaN,222.0,NaN,660.0,432.0,...,NaN,3783.0,691.0,320.0,NaN,NaN,NaN,NaN,NaN,NaN
2001,NaN,3351.0,NaN,9529.0,NaN,NaN,244.0,NaN,687.0,526.0,...,NaN,4642.0,822.0,439.0,NaN,NaN,NaN,NaN,NaN,NaN
2002,NaN,4775.0,NaN,8993.0,NaN,NaN,256.0,NaN,600.0,514.0,...,NaN,4883.0,1182.0,438.0,NaN,NaN,NaN,NaN,NaN,NaN
2003,NaN,3670.0,NaN,8851.0,NaN,NaN,276.0,NaN,625.0,536.0,...,NaN,5080.0,1465.0,448.0,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,3482.0,NaN,8381.0,NaN,NaN,258.0,NaN,504.0,500.0,...,NaN,5359.0,1621.0,515.0,NaN,NaN,NaN,NaN,NaN,NaN
2005,NaN,3452.0,NaN,7796.0,NaN,NaN,287.0,NaN,451.0,445.0,...,NaN,4953.0,2266.0,502.0,NaN,NaN,NaN,NaN,NaN,NaN
2006,NaN,3737.0,NaN,8279.0,NaN,NaN,297.0,NaN,404.0,440.0,...,NaN,5145.0,2839.0,530.0,NaN,NaN,NaN,NaN,NaN,NaN
2007,NaN,3941.0,NaN,8914.0,NaN,NaN,313.0,NaN,349.0,468.0,...,NaN,4925.0,3028.0,526.0,NaN,NaN,NaN,NaN,NaN,NaN
2008,955.0,4028.0,219.0,8511.0,NaN,NaN,317.0,NaN,344.0,400.0,...,NaN,4764.0,3438.0,492.0,NaN,NaN,NaN,NaN,NaN,NaN
2009,1265.0,4352.0,270.0,7936.0,NaN,NaN,296.0,NaN,307.0,369.0,...,NaN,5120.0,3981.0,496.0,NaN,NaN,NaN,NaN,NaN,NaN
2010,448.0,4628.0,438.0,7374.0,226.0,NaN,277.0,NaN,295.0,324.0,...,NaN,6200.0,5164.0,504.0,NaN,NaN,NaN,NaN,NaN,258.0

In [101]:
subset = total_births[['John','Harry','Mary','Marilyn']]

In [102]:
subset

name     John   Harry     Mary  Marilyn
year
1880   9701.0  2158.0   7092.0      NaN
1881   8795.0  2002.0   6948.0      NaN
1882   9597.0  2246.0   8179.0      NaN
1883   8934.0  2116.0   8044.0      NaN
1884   9427.0  2338.0   9253.0      NaN
1885   8801.0  2209.0   9166.0      NaN
1886   9074.0  2272.0   9923.0      NaN
1887   8165.0  2070.0   9935.0      NaN
1888   9300.0  2772.0  11804.0      NaN
1889   8600.0  2559.0  11690.0      NaN
1890   8557.0  2357.0  12113.0      NaN
1891   7725.0  2141.0  11743.0      NaN
1892   9093.0  2471.0  13224.0      NaN
1893   8110.0  2264.0  12839.0      NaN
1894   8298.0  2189.0  13199.0      NaN
1895   8382.0  2143.0  13493.0      NaN
1896   8189.0  2091.0  13868.0      NaN
1897   7596.0  1880.0  13475.0      NaN
1898   8215.0  2129.0  14456.0      NaN
1899   7030.0  1732.0  13222.0      NaN
1900   9880.0  2272.0  16785.0      NaN
1901   6938.0  1594.0  13195.0      NaN
1902   7946.0  1750.0  14541.0      NaN
1903   7650.0  1647.0  14338.0      NaN
1904   8148.0  1722.0  15020.0      NaN
1905   8102.0  1619.0  16135.0      NaN
1906   8306.0  1631.0  16447.0     24.0
1907   9048.0  1813.0  17649.0     17.0
1908   9400.0  1934.0  18743.0     25.0
1909   9658.0  1925.0  19336.0     21.0
...       ...     ...      ...      ...
1981  35052.0   834.0  11030.0    579.0
1982  34906.0   768.0  10847.0    583.0
1983  33405.0   753.0   9889.0    612.0
1984  32817.0   727.0   9285.0    508.0
1985  31713.0   777.0   9235.0    520.0
1986  30393.0   676.0   8499.0    487.0
1987  29722.0   708.0   8394.0    532.0
1988  29547.0   670.0   8505.0    546.0
1989  29830.0   746.0   8641.0    628.0
1990  29064.0   626.0   8651.0    582.0
1991  27782.0   633.0   8743.0    584.0
1992  26218.0   644.0   8430.0    678.0
1993  24975.0   567.0   8089.0    602.0
1994  24168.0   550.0   7722.0    551.0
1995  23209.0   506.0   7408.0    573.0
1996  22144.0   482.0   6926.0    612.0
1997  21364.0   449.0   6616.0    566.0
1998  20593.0   479.0   6415.0    517.0
1999  20328.0   460.0   6350.0    479.0
2000  20066.0   438.0   6174.0    520.0
2001  18869.0   454.0   5715.0    552.0
2002  17429.0   436.0   5439.0    504.0
2003  17206.0   446.0   4996.0    512.0
2004  16429.0   446.0   4792.0    494.0
2005  15747.0   459.0   4439.0    511.0
2006  15140.0   414.0   4073.0    596.0
2007  14405.0   443.0   3665.0    597.0
2008  13273.0   379.0   3478.0    543.0
2009  12048.0   383.0   3132.0    519.0
2010  11424.0   363.0   2826.0    531.0

[131 rows x 4 columns]

In [147]:
subset.plot(subplots=True, figsize=(12,10),grid=False,title="Num of births per year")

array([<matplotlib.axes._subplots.AxesSubplot object at 0x0000013DB1E16A90>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x0000013DDFDC3908>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x0000013DDFB432B0>,
       <matplotlib.axes._subplots.AxesSubplot object at 0x0000013D8347A160>], dtype=object)

In [132]:
get_last_letter = lambda x: x[-1]

In [134]:
last_letters = names.name.map(get_last_letter)

In [135]:
last_letters.name = 'last_letter'

In [136]:
table = names.pivot_table('births', last_letters,['sex','year'],sum)

In [137]:
table

sex                F                                                        \
year            1880     1881     1882     1883     1884     1885     1886
last_letter
a            31446.0  31581.0  36536.0  38330.0  43680.0  45408.0  49100.0
b                NaN      NaN      NaN      NaN      NaN      NaN      NaN
c                NaN      NaN      5.0      5.0      NaN      NaN      NaN
d              609.0    607.0    734.0    810.0    916.0    862.0   1007.0
e            33378.0  34080.0  40399.0  41914.0  48089.0  49616.0  53884.0
f                NaN      NaN      NaN      NaN      NaN      NaN      NaN
g                7.0      5.0     12.0      8.0     24.0     11.0     18.0
h             4863.0   4784.0   5567.0   5701.0   6602.0   6624.0   7146.0
i               61.0     78.0     81.0     76.0     84.0     92.0     85.0
j                NaN      NaN      NaN      NaN      NaN      NaN      NaN
k               13.0     15.0     11.0     17.0     21.0     18.0     27.0
l             2541.0   2911.0   3527.0   3848.0   4808.0   5144.0   5721.0
m               58.0     57.0     81.0     86.0     79.0     75.0    103.0
n             3008.0   2959.0   3576.0   3837.0   4507.0   4735.0   5242.0
o               30.0     49.0     35.0     47.0     74.0     84.0     93.0
p                NaN      NaN      NaN      NaN      NaN      NaN      NaN
q                NaN      NaN      NaN      NaN      NaN      NaN      NaN
r              481.0    417.0    590.0    640.0    718.0    799.0    917.0
s             1391.0   1316.0   1637.0   1794.0   2039.0   2127.0   2524.0
t             2152.0   2165.0   2399.0   2554.0   2825.0   2889.0   3017.0
u              380.0    427.0    410.0    444.0    490.0    495.0    511.0
v                NaN      NaN      NaN      NaN      NaN      NaN      NaN
w                NaN      5.0      NaN      NaN      NaN      NaN      5.0
x                NaN      NaN      NaN      7.0      NaN      NaN      NaN
y            10469.0  10404.0  12145.0  12063.0  13917.0  13927.0  14936.0
z              106.0     95.0    106.0    141.0    148.0    150.0    202.0

sex                                       ...            M            \
year            1887     1888     1889    ...         2001      2002
last_letter                               ...
a            48942.0  59442.0  58631.0    ...      39124.0   38815.0
b                NaN      NaN      NaN    ...      50950.0   49284.0
c                NaN      NaN      NaN    ...      27113.0   27238.0
d             1027.0   1298.0   1374.0    ...      60838.0   55829.0
e            54353.0  66750.0  66663.0    ...     145395.0  144651.0
f                NaN      NaN      NaN    ...       1758.0    1817.0
g               25.0     44.0     28.0    ...       2151.0    2084.0
h             7141.0   8630.0   8826.0    ...      85959.0   88085.0
i              105.0    141.0    134.0    ...      20980.0   23610.0
j                NaN      NaN      NaN    ...       1069.0    1088.0
k               19.0     21.0     22.0    ...      42477.0   42043.0
l             6175.0   7900.0   8395.0    ...     153648.0  153493.0
m               90.0    123.0    137.0    ...      41967.0   42663.0
n             5512.0   6833.0   7103.0    ...     616099.0  630322.0
o               97.0    134.0    142.0    ...      82146.0   83180.0
p                NaN      NaN      NaN    ...       3419.0    3157.0
q                NaN      NaN      NaN    ...        602.0     618.0
r              910.0   1207.0   1214.0    ...     165377.0  164821.0
s             2803.0   3582.0   3569.0    ...     143791.0  139595.0
t             3140.0   3816.0   3784.0    ...      47688.0   44991.0
u              476.0    541.0    469.0    ...       1833.0    1819.0
v                NaN      NaN      NaN    ...       1209.0    1332.0
w                NaN      NaN      NaN    ...      52265.0   50103.0
x                NaN      NaN      NaN    ...      10691.0   11009.0
y            14980.0  17931.0  17601.0    ...     139109.0  134557.0
z              188.0    238.0    277.0    ...       2840.0    2737.0

sex                                                                      \
year             2003      2004      2005      2006      2007      2008
last_letter
a             37825.0   38650.0   36838.0   36156.0   34654.0   32901.0
b             48065.0   45914.0   43144.0   42600.0   42123.0   39945.0
c             27697.0   26778.0   26078.0   26635.0   26864.0   25318.0
d             53391.0   51754.0   50670.0   51410.0   50595.0   47910.0
e            144769.0  142098.0  141123.0  142999.0  143698.0  140966.0
f              1819.0    1904.0    1985.0    1968.0    2090.0    2195.0
g              2009.0    1837.0    1882.0    1929.0    2040.0    2059.0
h             88226.0   89620.0   92497.0   98477.0   99414.0  100250.0
i             26011.0   28500.0   31317.0   33558.0   35231.0   38151.0
j              1203.0    1094.0    1291.0    1241.0    1254.0    1381.0
k             42296.0   41400.0   42151.0   42537.0   42136.0   39563.0
l            153862.0  152800.0  155312.0  156234.0  155203.0  150791.0
m             42790.0   43054.0   41600.0   42503.0   43860.0   44316.0
n            663419.0  676011.0  686326.0  720998.0  741355.0  733869.0
o             85423.0   88822.0   92001.0   96350.0   96895.0   91485.0
p              2982.0    2841.0    2768.0    2721.0    2739.0    2637.0
q               585.0     523.0     446.0     430.0     431.0     339.0
r            169878.0  169452.0  172069.0  176490.0  177207.0  174632.0
s            138632.0  139642.0  139913.0  143232.0  142155.0  137056.0
t             43765.0   43870.0   43369.0   43553.0   43437.0   43846.0
u              2052.0    2138.0    2129.0    2201.0    2311.0    2405.0
v              1652.0    1823.0    1794.0    2010.0    2295.0    2418.0
w             49079.0   47556.0   45464.0   43217.0   40251.0   36937.0
x             11718.0   12399.0   13025.0   13992.0   14306.0   14834.0
y            130569.0  128367.0  125190.0  123707.0  123397.0  122633.0
z              2722.0    2710.0    2903.0    3086.0    3301.0    3473.0

sex
year             2009      2010
last_letter
a             31430.0   28438.0
b             38862.0   38859.0
c             24048.0   23125.0
d             46172.0   44398.0
e            135496.0  129012.0
f              2212.0    2255.0
g              2396.0    2666.0
h             99979.0   98090.0
i             40912.0   42956.0
j              1416.0    1459.0
k             37507.0   35198.0
l            143751.0  133583.0
m             46278.0   46808.0
n            715388.0  688677.0
o             86423.0   81025.0
p              2595.0    2409.0
q               377.0     342.0
r            173200.0  166064.0
s            129861.0  123670.0
t             43674.0   43398.0
u              2417.0    2318.0
v              2589.0    2723.0
w             33181.0   30656.0
x             16640.0   16352.0
y            112922.0  110425.0
z              3633.0    3476.0

[26 rows x 262 columns]

In [139]:
subtable = table.reindex(columns=[1910,1960,2010],level='year')

In [140]:
subtable

sex                 F                            M
year             1910      1960      2010     1910      1960      2010
last_letter
a            108376.0  691247.0  670605.0    977.0    5204.0   28438.0
b                 NaN     694.0     450.0    411.0    3912.0   38859.0
c                 5.0      49.0     946.0    482.0   15476.0   23125.0
d              6750.0    3729.0    2607.0  22111.0  262112.0   44398.0
e            133569.0  435013.0  313833.0  28655.0  178823.0  129012.0
f                 NaN      20.0      97.0    152.0    9224.0    2255.0
g                57.0     318.0     657.0    437.0   20235.0    2666.0
h             20427.0   73247.0  133424.0   8848.0   80841.0   98090.0
i               605.0   80812.0   55820.0    164.0    1286.0   42956.0
j                 NaN       NaN     159.0      NaN       NaN    1459.0
k                48.0     315.0     626.0   7104.0  105315.0   35198.0
l             17121.0   68482.0   46360.0  12626.0  223716.0  133583.0
m               476.0   17417.0    4552.0  11272.0   72139.0   46808.0
n             31412.0  264258.0  246631.0  27851.0  325266.0  688677.0
o               658.0    4932.0    2187.0   3314.0   27358.0   81025.0
p                 7.0      47.0      35.0    616.0   12102.0    2409.0
q                 NaN       NaN      53.0      NaN       NaN     342.0
r              5308.0   13677.0   31707.0  12522.0   66183.0  166064.0
s             15477.0   25810.0   23451.0  25404.0  219080.0  123670.0
t             10877.0   30738.0   13773.0  14153.0  140015.0   43398.0
u               271.0    1161.0     734.0     24.0     122.0    2318.0
v                 NaN     122.0     205.0     22.0      78.0    2723.0
w                 8.0      63.0    2080.0   1229.0   16444.0   30656.0
x                 6.0      74.0    1279.0    770.0    3947.0   16352.0
y             43991.0  308504.0  205501.0  15021.0  343318.0  110425.0
z               967.0    1333.0    1238.0     33.0     392.0    3476.0

In [141]:
subtable.sum()

sex  year
F    1910     396416.0
     1960    2022062.0
     2010    1759010.0
M    1910     194198.0
     1960    2132588.0
     2010    1898382.0
dtype: float64

In [142]:
latter_prop = subtable / subtable.sum().astype(float)

In [155]:
%timeit latter_prop

66.5 ns ± 11.6 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [146]:
import matplotlib.pyplot as plt
fig, axes = plt.subplots(2,1)
latter_prop['M'].plot(kind='bar', rot=0,ax=axes[0], title='Male')
latter_prop['F'].plot(kind='bar', rot=0,ax=axes[1], title='Female', legend=False)

In [153]:
%pwd

'C:\\Users\\Janfer\\Desktop'